@import url(all.min.css);
@import url(bootstrap.min.css);
@import url(fonts.css);
@import url(static.css);
@import url(main.css);
@import url(portfolio.css);
@import url(Responsive/contactPage.css);
/* ******************************* */
:root {
  --e-global-color-primary: #ffd369;
  --e-global-color-secondary: #eeeeee;
  --e-global-color-text: #222831;
  --e-global-color-accent: #393e46;
  --e-global-color-e777cd9: #ffffff;
  --e-global-color-e632858: #ffffff00;
  --e-global-color-cff305b: #f8f8f8;
  --e-global-color-d59e8a8: #8b8b8b;
  --e-global-color-9947692: #ffffffd1;
}
body {
  font-family: Regular-DM-Sans;
  color: var(--e-global-color-e777cd9);
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.card {
  background-color: transparent;
  border: none;
}

/* ********************************************* */
.header {
  height: 390px;
  background-image: url(../img/mulk20.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--e-global-color-text);
    opacity: 0.5;
    z-index: -1;
  }
}
.header .card-h1{
  align-items: center;
}
.header h1{
    color: var(--e-global-color-e777cd9);
    font-family: Bold-DM-Sans;
    font-size: 65px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -1px;
    text-transform: capitalize;
    &::after{
        display: none;
    }
}
/* ******************************************************* */
.iframe{
    padding: 100px 0;
}
.iframe iframe{
    height: 450px;
}
.iframe .card-left{
    padding-right: 120px;
}
.iframe .card-right{
    height: 100%;
    justify-content: center;
    gap: 20px;
}
.iframe h6{
    color: var(--e-global-color-d59e8a8);
    font-family: Regular-DM-Sans;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.iframe h3{
    color: var(--e-global-color-text);
    font-family: Medium-DM-Sans;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0px;
    margin: 20px 0;
}
.iframe p,
.iframe a{
    color: var(--e-global-color-text);
    font-size: 16px;
    font-family: Regular-inter;
    margin-bottom: 16px;
}
.iframe h5{
    color: var(--e-global-color-text);
    font-family: Medium-DM-Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}
.iframe .first-a{
    margin-bottom: 10px;
}
.iframe a i{
    margin-inline-end: 10px;

}
.iframe .third-div .empty{
   width: 100%;
   height: 1px;
    position: relative;
    top: 12px;
   background-color: #ededed;
}