@import url(all.min.css);
@import url(bootstrap.min.css);
@import url(fonts.css);
@import url(Responsive/mainPage.css);
/* ******************************* */
:root {
  --e-global-color-primary: #ffd369;
  --e-global-color-secondary: #eeeeee;
  --e-global-color-text: #222831;
  --e-global-color-accent: #393e46;
  --e-global-color-e777cd9: #ffffff;
  --e-global-color-e632858: #ffffff00;
  --e-global-color-cff305b: #f8f8f8;
  --e-global-color-d59e8a8: #8b8b8b;
  --e-global-color-9947692: #ffffffd1;
}
body {
  font-family: Regular-DM-Sans;
  color: var(--e-global-color-e777cd9);
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.card {
  background-color: transparent;
  border: none;
}

/* ********************************************* */
/* start header */
.header {
  height: 750px;
  background-image: url(../img/man-ipad.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--e-global-color-text);
    opacity: 0.5;
    z-index: -1;
  }
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  color: var(--e-global-color-primary);
}
.header .navbar {
  padding: 10px 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--e-global-color-9947692);
    opacity: 0.2;
    width: 100%;
    height: 1px;
  }
}
.header .navbar .navbar-brand {
  width: 120px;
}
.header .navbar .nav-link {
  padding: 0 10px 0 20px;
  color: var(--e-global-color-e777cd9);
  font-size: 16px;
  font-family: Regular-DM-Sans;
  text-transform: capitalize;
  transition: all 300ms;
  &:hover {
    color: var(--e-global-color-primary);
  }
}
.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.navbar-toggler-icon i {
  color: var(--e-global-color-e777cd9);
}
.header .navbar .nav-link.active {
  color: var(--e-global-color-primary);
}
.header .toggle-right {
  color: var(--e-global-color-e777cd9);
  font-size: 18px;
  position: relative;
  top: 3px;
  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  visibility: hidden;
  opacity: 0;
  background-color: var(--e-global-color-accent);
  li a:hover {
    background-color: transparent !important;
  }
}
.dropdown-item {
  font-size: 16px;
  font-family: Regular-DM-Sans;
  transition: all 300ms;
  color: var(--e-global-color-9947692);
  text-transform: capitalize;
  &:hover {
    color: var(--e-global-color-primary);
  }
}
.navbar-expand-lg .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.header h1 {
  font-family: Bold-DM-Sans;
  color: var(--e-global-color-e777cd9);
  font-size: 65px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -1px;
  margin: 50px 0 80px;
  position: relative;
}
.header h1::after {
  font-family: Regular-DM-Sans;
  content: "B";
  position: absolute;
  left: 0;
  bottom: -80px;
  color: var(--e-global-color-primary);
  animation-name: span-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes span-move {
  0% {
    content: "";
  }
  5% {
    content: "B";
  }
  15% {
    content: "Be";
  }
  25% {
    content: "Bet";
  }
  35% {
    content: "Bett";
  }
  40% {
    content: "Bette";
  }
  50% {
    content: "Better";
  }
  60% {
    content: "Bette";
  }
  70% {
    content: "Bett";
  }
  75% {
    content: "Bet";
  }
  80% {
    content: "Be";
  }
  90% {
    content: "B";
  }
  100% {
    content: "|";
  }
}
.header p {
  font-family: Regular-inter;
  font-size: 16px;
  margin-bottom: 16px;
}
.header .get-start {
  font-family: Bold-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-radius: 10px;
  padding: 20px 40px;
  transition: all 300ms;
  &:hover {
    background-color: var(--e-global-color-9947692);
  }
  i {
    margin-inline-start: 10px;
    position: relative;
    top: 1px;
  }
}

.header .card-telephone a {
  font-family: Bold-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--e-global-color-9947692);
  border-radius: 10px;
  padding: 20px 40px;
  span {
    margin-inline-start: 10px;
  }
}
.header .offcanvas-body .active {
  color: var(--e-global-color-primary);
}
.header .offcanvas {
  background-color: var(--e-global-color-cff305b);
  padding: 20px;
  padding-top: 60px;
  display: flex;
  align-items: flex-end;
}
.header .offcanvas .offcanvas-body {
  margin-inline-end: 60px;
}
.header .offcanvas .logo-img {
  width: 120px;
  margin: 50px 0 50px;
}
.offcanvas .offcanvas-body ul {
  padding: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ededed8b;
    width: 100%;
    height: 1px;
  }
}
.offcanvas a li {
  font-family: Medium-DM-Sans;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--e-global-color-text);
  text-transform: capitalize;
  transition: all 300ms;
  &:hover {
    color: var(--e-global-color-primary);
  }
}
.offcanvas .icons {
  padding: 20px;
  margin-top: 50px;
  display: flex;
  gap: 30px;
  color: var(--e-global-color-text);
  font-size: 25px;
  i {
    transition: all 300ms;
    cursor: pointer;
    &:hover {
      color: var(--e-global-color-primary);
    }
  }
}
.offcanvas-header .btn-close:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.header .toggle-right {
  border: none;
  outline: none;
  box-shadow: none;
}
.header .card-video {
  align-items: center;
  height: 100%;
  justify-content: center;
}
.header .video {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 60px;
  color: var(--e-global-color-e777cd9);
  background-color: var(--e-global-color-e632858);
  border: 2px solid var(--e-global-color-e777cd9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: video-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  i {
    font-size: 25px;
  }
}
@keyframes video-move {
  0% {
    top: 0;
  }
  5% {
    top: 10px;
  }
  15% {
    top: 20px;
  }
  25% {
    top: 30px;
  }
  35% {
    top: 40px;
  }
  40% {
    top: 50px;
  }
  50% {
    top: 60px;
  }
  60% {
    top: 50px;
  }
  70% {
    top: 40px;
  }
  75% {
    top: 30px;
  }
  80% {
    top: 20px;
  }
  90% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
/* End header */
/* ********************************************** */
/* ********************************************* */
/* start home */
.home {
  padding: 120px 0 100px;
}
.home .card-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home .card-heading h6 {
  color: var(--e-global-color-d59e8a8);
  font-family: Regular-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.home .card-heading h2 {
  color: var(--e-global-color-text);
  font-family: Bold-DM-Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 100px;
}
.home .card-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  background-color: var(--e-global-color-e777cd9);
  border: 3px solid var(--e-global-color-cff305b);
}
.home .card-head i {
  font-size: 60px;
  color: var(--e-global-color-primary);
}
.home .card-head .number {
  position: absolute;
  color: var(--e-global-color-text);
  top: -30px;
  right: -30px;
  background-color: var(--e-global-color-cff305b);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Regular-inter;
}
.home .card-head .border-bottom {
  border: 2px dotted var(--e-global-color-cff305b);
  transform: scaleX(1);
  width: 100%;
  position: absolute;
  left: 220px;
}
.home .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .card-body h5 {
  color: var(--e-global-color-text);
  font-family: Medium-DM-Sans;
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0 10px;
}
.home .card-body p {
  color: var(--e-global-color-text);
  font-family: Regular-inter;
  font-size: 16px;
  text-align: center;
  padding: 0 30px;
}
.home a {
  font-family: Regular-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-radius: 10px;
  padding: 20px 40px;
  width: fit-content;
  text-transform: capitalize;
  transition: all 300ms;
  &:hover {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-primary);
  }
  i {
    font-size: 15px;
    margin-inline-start: 10px;
    position: relative;
    top: 1px;
  }
}
/* End home */
/* ********************************************* */
/* start about */
.about {
  padding-bottom: 80px;
}
.about .card-img {
  position: relative;
  cursor: pointer;
}
.about .card-body {
  position: absolute;
  padding: 60px;
}
.about .card-body .first-p {
  color: var(--e-global-color-e777cd9);
  font-size: 16px;
  margin-bottom: 16px;
  font-family: Bold-inter;
}
.about .card-body h4 {
  color: var(--e-global-color-e777cd9);
  font-family: Bold-DM-Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.25px;
}
.about .card-body .last-p {
  color: var(--e-global-color-e777cd9);
  font-family: Bold-inter;
  font-size: 16px;
  margin-top: 40px;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
  cursor: pointer;
}
.about .card:hover .last-p {
  opacity: 1;
  transform: translateY(10px);
}
/* End about */
/* ********************************************** */
/* start visual-identity */
.visual-identity {
  background-color: var(--e-global-color-cff305b);
  padding: 100px 0;
}
.visual-identity .card-text {
  transform: translateX(-85px);
}
.visual-identity h6 {
  color: var(--e-global-color-d59e8a8);
  font-family: Regular-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.visual-identity h3 {
  color: var(--e-global-color-text);
  font-family: Regular-DM-Sans;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0px;
  margin-bottom: 40px;
}
.visual-identity .accordion-item {
  border: none;
}
.visual-identity .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.visual-identity .accordion .accordion-header .accordion-button {
  padding: 20px 20px 20px 0;
  color: var(--e-global-color-text);
  font-family: Regular-DM-Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  position: relative;
  &:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--e-global-color-primary);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ededed8b;
    width: 100%;
    height: 1px;
  }
}
.visual-identity .accordion .accordion-body {
  padding: 20px 90px 20px 0;
  color: var(--e-global-color-text);
  font-family: Regular-inter;
  font-size: 16px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ededed8b;
    width: 100%;
    height: 1px;
  }
}
.visual-identity .card-img {
  position: relative;
  img {
    transform: translate3d(0px, 35.178px, 0px) scale(1);
    width: 520px;
  }
}
.visual-identity .iphone-img {
  position: absolute;
  left: -50px;
  top: 32.5%;
  img {
    width: 100px;
    transition: all 2s;
    &:hover {
      transform: translate3d(0px, -57.552px, 0px) scale(1.005);
      cursor: pointer;
    }
  }
}
/* End visual-identity */
/* ********************************************** */
/* ********************************************* */
/* start future */
.future {
  padding: 100px 0;
}
.future .card-head {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.future .card-head h2 {
  color: var(--e-global-color-text);
  font-family: Bold-DM-Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
.future .card-head a {
  font-family: Regular-DM-Sans;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--e-global-color-text);
  border-radius: 10px;
  padding: 20px 40px;
  width: fit-content;
  text-transform: capitalize;
  transition: all 300ms;
  &:hover {
    color: var(--e-global-color-primary);
  }
  i {
    font-size: 15px;
    margin-inline-start: 10px;
    position: relative;
    top: 1px;
  }
}
.future .mulk7,
.future .mulk8 {
  height: 260.4px;
  overflow: hidden;
}
.future .mulk5,
.future .mulk6,
.future .mulk9,
.future .mulk10 {
  height: 260.4px;
  overflow: hidden;
}
.future img {
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
/* End future */
/* ********************************************* */
/* start icon-section */
.icon-section {
  padding: 80px 0;
  background-color: var(--e-global-color-cff305b);
  .card {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
.icon-section i {
  font-size: 75px;
  color: var(--e-global-color-primary);
}
.icon-section .text .number {
  font-size: 45px;
  color: var(--e-global-color-text);
  font-family: Bold-inter;
}
.icon-section .text .text-name {
  font-size: 16px;
  color: var(--e-global-color-text);
  font-family: Regular-inter;
  text-transform: capitalize;
}
/* End icon-section */
/* ********************************************** */
/* ********************************************* */
/* start marketing-design */
.marketing-design {
  padding: 100px 0;
}
.marketing-design .card-img {
  overflow: hidden;
}
.marketing-design .card-img img {
  width: 563px;
  height: 563px;
  transition: all 2s ease;
}
.marketing-design .card-img:hover {
  cursor: pointer;
  height: 563px;
  width: 563px;
  background-image: url(../img/mulk12.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  inset: 0;
  opacity: 1;
  img {
    opacity: 0;
  }
}
.marketing-design .card-text {
  height: 100%;
  justify-content: center;
  padding: 0 100px;
}
.marketing-design h6 {
  color: var(--e-global-color-d59e8a8);
  font-family: Regular-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.marketing-design h2 {
  color: var(--e-global-color-text);
  font-family: Medium-DM-Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 20px 0;
}
.marketing-design p {
  color: var(--e-global-color-text);
  margin-bottom: 30px;
  font-family: Regular-inter;
  font-size: 16px;
}
.marketing-design a {
  font-family: Regular-DM-Sans;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-radius: 10px;
  padding: 20px 40px;
  width: fit-content;
  text-transform: capitalize;
  transition: all 300ms;
  &:hover {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary);
  }
  i {
    font-size: 15px;
    margin-inline-start: 10px;
    position: relative;
    top: 1px;
  }
}
/* End marketing-design */
/* ********************************************** */
/* start bg-image */
.bg-image {
  padding-top: 100px;
  height: 406px;
  background-image: url(../img/mulk13.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: var(--e-global-color-accent);
    opacity: 0.3;
    z-index: -1;
  }
}
.bg-image .card {
  padding: 0 150px;
  position: relative;
}
.bg-image h5 {
  font-size: 24px;
  color: var(--e-global-color-e777cd9);
  font-family: Bold-DM-Sans;
  margin-bottom: 10px;
  padding-right: 150px;
}
.bg-image i {
  color: var(--e-global-color-e777cd9);
  margin-inline-end: 10px;
  font-size: 35px;
  position: absolute;
  left: 100px;
}
.bg-image span {
  font-size: 16px;
  color: var(--e-global-color-e777cd9);
  font-family: Bold-inter;
  text-transform: capitalize;
}
/* End bg-image */
/* ********************************************** */
/* ********************************************** */
/* start logos */
.logos {
  padding: 60px 0;
  .card {
    align-items: center;
  }
}
.logos img {
  width: 140px;
  height: 70px;
  transition: all 1s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
/* End logos */
/* ********************************************** */
/* start last-section*/
.last-section {
  padding: 80px 0;
}
.last-section .card {
  overflow: hidden;
}
.last-section .card-head {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-section .card-head h2 {
  color: var(--e-global-color-text);
  font-family: Medium-DM-Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
.last-section .card-head a {
  font-family: Regular-DM-Sans;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--e-global-color-text);
  border-radius: 10px;
  padding: 20px 40px;
  width: fit-content;
  text-transform: capitalize;
  transition: all 300ms;
  &:hover {
    color: var(--e-global-color-primary);
  }
  i {
    font-size: 15px;
    margin-inline-start: 10px;
    position: relative;
    top: 1px;
  }
}
.last-section .card-img {
  overflow: hidden;
  position: relative;
  img {
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.last-section .number {
  position: absolute;
  width: 90px;
  height: 52px;
  background-color: #eeeeee;
  font-size: 16px;
  font-family: Regular-inter;
  color: var(--e-global-color-accent);
  top: 0;
  right: 0;
  padding: 12px 18px;
  transition: all 1s;
  cursor: pointer;
  &:hover {
    background-color: var(--e-global-color-primary);
  }
}
.last-section .card-body .first-div {
  font-size: 16px;
  color: var(--e-global-color-text);
  font-family: Regular-inter;
  margin-bottom: 10px;
}
.last-section .card-body p {
  font-size: 24px;
  color: var(--e-global-color-text);
  font-family: Medium-DM-Sans;
}
/* End last-section*/
/* ********************************************** */
.before-footer {
  background-color: var(--e-global-color-text);
  padding-top: 50px;
  height: 200px;
  background-image: url(../img/mulk14.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.before-footer h2 {
  color: var(--e-global-color-e777cd9);
  font-family: Bold-DM-Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
.before-footer a {
  font-family: Regular-DM-Sans;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-primary);
  border-radius: 10px;
  padding: 20px 40px;
  width: fit-content;
  text-transform: capitalize;
  transition: all 300ms;
  &:hover {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-e777cd9);
  }
  i {
    font-size: 15px;
    margin-inline-start: 10px;
    position: relative;
    top: 1px;
  }
}
/* ********************************************** */
/* start footer */
.footer {
  padding: 100px 0;
  background-color: var(--e-global-color-text);
}
.footer .row {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -60px;
    background-color: var(--e-global-color-cff305b);
    opacity: 0.1;
    height: 1px;
    width: 90%;
  }
}
.footer .logo {
  width: 120px;
  margin-bottom: 20px;
}
.footer .icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  i {
    cursor: pointer;
    transition: all 1s;
    &:hover {
      color: var(--e-global-color-primary);
    }
  }
}
.footer p {
  font-size: 16px;
  font-family: Regular-inter;
  margin-bottom: 30px;
}
.footer h6 {
  font-family: Regular-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
.footer a {
  font-size: 16px;
  color: var(--e-global-color-e777cd9);
  font-family: Regular-inter;
  margin-bottom: 5px;
  i {
    margin-inline-end: 10px;
  }
}
.footer .first-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-inline-start: -30px;
  li {
    text-transform: capitalize;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      color: var(--e-global-color-primary);
    }
  }
}
.footer .first-a,
.footer .second-a- {
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    color: var(--e-global-color-primary);
  }
}
/* End footer */
/* ********************************************** */
