@import url(all.min.css);
@import url(bootstrap.min.css);
@import url(fonts.css);
@import url(static.css);
@import url(main.css);
@import url(Blog.css);
@import url(about.css);
@import url(Responsive/servicePage.css);
/* ******************************* */
:root {
  --e-global-color-primary: #ffd369;
  --e-global-color-secondary: #eeeeee;
  --e-global-color-text: #222831;
  --e-global-color-accent: #393e46;
  --e-global-color-e777cd9: #ffffff;
  --e-global-color-e632858: #ffffff00;
  --e-global-color-cff305b: #f8f8f8;
  --e-global-color-d59e8a8: #8b8b8b;
  --e-global-color-9947692: #ffffffd1;
}
body {
  font-family: Regular-DM-Sans;
  color: var(--e-global-color-e777cd9);
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.card {
  background-color: transparent;
  border: none;
}

/* ********************************************* */
/* start header */
.header {
  height: 390px;
  background-image: url(../img/mulk13.webp);
}
/* *********************************************** */
/* start visual-identity */
.visual-identity {
  padding: 120px 0;
  background-color: var(--e-global-color-cff305b);
}
.visual-identity h6 {
  color: var(--e-global-color-d59e8a8);
  font-family: Regular-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.visual-identity h2 {
  color: var(--e-global-color-text);
  font-family: Medium-DM-Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 16px 0;
}
.visual-identity p {
  color: var(--e-global-color-text);
  font-size: 16px;
  font-family: Regular-inter;
}
.visual-identity .p-two {
  margin-top: 16px;
}
.visual-identity ul i {
  font-size: 18px;
  color: var(--e-global-color-text);
  margin-inline-end: 10px;
}
.visual-identity ul li {
  color: var(--e-global-color-text);
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Regular-inter;
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    color: var(--e-global-color-primary);
  }
}
.visual-identity ul {
  padding-left: 0 !important;
}
.visual-identity .ul-left {
  padding-right: 30px;
}
.visual-identity .card-img{
  overflow: hidden;
}
.visual-identity img {
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
/* End visual identity */
/* ************************************************* */
/* start Branding */
.Branding {
  padding: 100px 0;
}
.Branding h6 {
  color: var(--e-global-color-d59e8a8);
  font-family: Regular-DM-Sans;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.Branding h2 {
  color: var(--e-global-color-text);
  font-family: Medium-DM-Sans;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.5px;
}
.Branding .icon {
  i {
    font-size: 50px;
    color: var(--e-global-color-primary);
  }
}
.Branding .card-yellow{
    background-color: var(--e-global-color-primary);
    i{
        color: var(--e-global-color-text);
    }
}
.Branding h5 {
    font-size: 24px;
    color: var(--e-global-color-text);
    font-family: Regular-DM-Sans;
    margin: 20px 0;
}
.Branding p {
    font-size: 16px;
    color: var(--e-global-color-text);
    font-family: Regular-inter;
}
/* End Branding */
/* *************************************************** */
/* start collaboration */
.collaboration{
    height: 580px;
    background-image: url(../img/mulk17.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.collaboration .bg-color{
    background-color: var(--e-global-color-9947692);
    width: 460px;
    height: 460px;
    padding: 80px;
}
.collaboration h5{
    color: var(--e-global-color-text);
    font-family: Medium-DM-Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
}
.collaboration a{
    background-color: var(--e-global-color-primary);
    padding: 20px 40px;
    transition: all 500ms;
    font-size: 16px;
    font-family: Regular-DM-Sans;
    text-transform: capitalize;
    &:hover{
        background-color: var(--e-global-color-secondary);
    }
}
/* End collaboration */
/* ***************************************************** */
