@import url(all.min.css);
@import url(bootstrap.min.css);
@import url(fonts.css);
@import url(static.css);
@import url(main.css);
@import url(Blog.css);
@import url(Responsive/singlePostPage.css);
/* ******************************* */
:root {
  --e-global-color-primary: #ffd369;
  --e-global-color-secondary: #eeeeee;
  --e-global-color-text: #222831;
  --e-global-color-accent: #393e46;
  --e-global-color-e777cd9: #ffffff;
  --e-global-color-e632858: #ffffff00;
  --e-global-color-cff305b: #f8f8f8;
  --e-global-color-d59e8a8: #8b8b8b;
  --e-global-color-9947692: #ffffffd1;
}
body {
  font-family: Regular-DM-Sans;
  color: var(--e-global-color-e777cd9);
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.card {
  background-color: transparent;
  border: none;
}

/* ********************************************* */
/* start header */
.header {
  height: 390px;
  background-image: url(../img/fakurian-design-PpgY7sjpf_0-unsplash.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header .card-h1{
    align-items: center;
  }
  .header h1{
      color: var(--e-global-color-e777cd9);
      font-family: Bold-DM-Sans;
      font-size: 65px;
      font-weight: 500;
      line-height: 80px;
      letter-spacing: -1px;
      text-transform: capitalize;
      &::after{
          display: none;
      }
  }
/* ************************************************* */
/* start marketing-strategy */
.marketing-strategy{
    padding: 100px 300px;
    display: flex;
    align-items: baseline;
}
.marketing-strategy .card-img{
    align-items: center;
    margin-bottom: 20px;
}
.marketing-strategy p{
    color: var(--e-global-color-text);
    font-size: 16px;
    font-family: Regular-inter;
    margin-bottom: 16px;
}
.marketing-strategy .p-one{
    position: relative;
    &::before{
    content: "L";
    position: absolute;
    font-size: 50px;
    left: -30px;
    bottom: -14px;
}
}
.marketing-strategy h4{
    color: var(--e-global-color-text);
    font-family: Medium-DM-Sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
}
.marketing-strategy h5{
    color: var(--e-global-color-text);
    font-family: Medium-DM-Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.25px;
}
.marketing-strategy .socials{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    i{
      transition: all 500ms;
      font-size: 15px;
      cursor: pointer;
    }
    .facebook{
        i{
            color: #3B5998;
            &:hover{
              color: #ffd369;
            }
        }
    }
    .twitter{
        i{
            color: #1da1f2;
            &:hover{
              color: #ff0000;
            }
        }
    }
    .pinterest{
        i{
            color: #ff0000;
            &:hover{
              color: #1da1f2;
            }
        }
    }
}
.marketing-strategy .card-img{
  overflow: hidden;
}
.marketing-strategy img {
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  &:hover {
    transform: scale(1.1) ;
  }
}
/* End marketing-strategy */
/* ************************************************* */
.last-section h2{
    color: var(--e-global-color-text);
    font-size: 30px !important;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.25px;
}

