@media (max-width: 768px) {
  .creative-idea h2 {
    font-size: 35px !important;
  }
  .creative-idea i {
    font-size: 40px !important;
  }
  .creative-idea .text .number {
    font-size: 25px !important;
  }
  .creative-idea .icons .first-span,
  .creative-idea .icons .second-span {
    margin-bottom: 50px;
  }
  .years h5 {
    font-size: 20px !important;
  }
  .years p {
    padding: 0 10px !important;
  }
  .before-footer h2 {
    font-size: 15px !important;
  }
}
/* ************************************************* */
@media (max-width: 500px) {
  .header .under-logo {
    font-size: 10px !important;
    padding-bottom: 10px;
  }
  .years .row::before {
    display: none;
  }
  .years p {
    margin-bottom: 30px;
  }
  .creative-idea h2 {
    font-size: 25px !important;
  }
  .creative-idea i {
    font-size: 30px !important;
  }
  .creative-idea .text .number {
    font-size: 18px !important;
  }
  .creative-idea p,
  .creative-idea h6,
  .years .year,
  .years p {
    font-size: 12px !important;
  }
  .years h5 {
    font-size: 16px !important;
  }
  .years .year::after {
    width: 8px !important;
    height: 8px !important;
  }
  .before-footer h2 {
    font-size: 12px !important;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .before-footer .watch-video {
    margin-inline-start: 75px;
  }
}
/* ************************************************* */
@media (max-width: 380px) {
  .header h1 {
    font-size: 15px !important;
  }
  .creative-idea h2 {
    font-size: 15px !important;
  }
  .creative-idea .icons {
    gap: 13px !important;
  }
  .years,
  .creative-idea {
    padding: 50px 0 !important;
  }
  .before-footer .watch-video {
    margin-inline-start: 20px !important;
}
}
