@media (max-width: 1800px) {
  .visual-identity .card-text {
    transform: translateX(-32px) !important;
  }
}
@media (max-width: 1024px) {
  .header .toggle-right {
    font-size: 18px !important;
    margin-top: 3px !important;
  }
  .header h1 {
    font-size: 50px !important;
  }
  .home .card-heading h2,
  .future .card-head h2,
  .marketing-design h2,
  .last-section .card-head h2 {
    font-size: 40px !important;
  }
  .visual-identity .card-img {
    img {
      width: 400px !important;
    }
  }
  .visual-identity .card-right {
    height: 100%;
    justify-content: center;
  }
  .visual-identity .iphone-img {
    img {
      width: 80px !important;
    }
  }
  .visual-identity .iphone-img {
    top: 40.5% !important;
  }
  .visual-identity .card-text {
    transform: translateX(0) !important;
  }
  .icon-section .text .number {
    font-size: 30px !important;
  }
  .icon-section i {
    font-size: 60px !important;
  }
  .marketing-design .card-text {
    padding: 0 30px !important;
  }
  .marketing-design .card-img:hover {
    width: 456px !important;
  }
  .last-section .card-body p {
    font-size: 20px !important;
  }
  .before-footer h2 {
    font-size: 35px !important;
  }
  .footer p {
    font-size: 14px !important;
  }
}
/* **************************************************** */
@media (max-width: 992px) {
  .header .toggle-right {
    font-size: 18px !important;
    margin-top: 3px !important;
  }
  .header h1 {
    font-size: 30px !important;
    line-height: 60px !important;
  }
  .header h1::after {
    bottom: -50px !important;
  }
  .navbar-nav {
    gap: 20px;
  }
  .header .get-start,
  .header .card-telephone a {
    padding: 12px 0px !important;
    margin-top: 50px;
  }

  .home .card-heading h2,
  .future .card-head h2,
  .marketing-design h2,
  .last-section .card-head h2,
  .visual-identity h3 {
    font-size: 30px !important;
  }
  .visual-identity .accordion .accordion-header .accordion-button {
    font-size: 20px !important;
  }
  .visual-identity .card-right {
    margin-inline-start: 130px !important;
  }
  .visual-identity .card-img {
    img {
      width: 400px !important;
    }
  }
  .visual-identity .card-right {
    height: 100%;
    justify-content: center;
  }
  .visual-identity .iphone-img {
    img {
      width: 80px !important;
    }
  }
  .icon-section {
    .card {
      align-items: baseline !important;
      margin-bottom: 20px;
    }
  }
  .icon-section i {
    font-size: 50px !important;
  }
  .visual-identity .iphone-img {
    top: 40.5% !important;
  }
  .visual-identity .card-text {
    transform: translateX(0) !important;
  }
  .icon-section .text .number {
    font-size: 22px !important;
  }
  .icon-section .text {
    position: relative;
    bottom: 25px;
  }
  .marketing-design .card-img {
    margin-bottom: 50px;
  }
  .bg-image h5 {
    font-size: 15px !important;
    margin-bottom: 30px !important;
    padding-right: 0 !important;
  }
  .bg-image .card {
    bottom: 50px;
  }
  .logos img {
    width: 130px !important;
    margin-bottom: 20px !important;
  }
  .marketing-design .card-text {
    padding: 0 30px !important;
  }
  .marketing-design .card-img:hover {
    width: 563px !important;
  }
  .last-section .card-body p,
  .last-section .number {
    font-size: 14px !important;
  }
  .before-footer h2 {
    font-size: 25px !important;
    line-height: 35px !important;
  }
  .before-footer a {
    padding: 12px 20px !important;
    font-size: 14px !important;
    position: relative;
    top: 10px;
  }
  .footer p {
    font-size: 14px !important;
  }
  .footer .card-4 {
    margin-top: 30px;
  }
  .home .card-head .border-bottom {
    border: none !important;
  }
}
/* ****************************************************** */
@media (max-width: 767px) {
  .header .offcanvas .logo-img {
    width: 70px !important;
    margin-bottom: 25px !important;
  }
  .offcanvas a li {
    font-size: 18px !important;
  }
  .offcanvas .icons {
    margin-top: 25px !important;
    i {
      font-size: 15px !important;
    }
  }
}

/* ***************************************************** */
@media (max-width: 600px) {
  .header .get-start,
  .header .card-telephone a {
    width: fit-content;
    padding: 20px 40px !important;
  }
  .header .get-start {
    margin-top: 30px !important;
  }
  .header .card-video {
    margin-top: 40px;
  }
  .header .card-telephone a {
    margin-top: 10px !important;
  }
  .icon-section .text-1 {
    margin-inline-start: 8px;
  }
  .icon-section .text-3 {
    margin-inline-start: 12px;
  }
  .icon-section .text-4 {
    margin-inline-start: 8px;
  }
  .marketing-design .card-img:hover {
    width: auto !important;
  }
  .bg-image i {
    font-size: 15px !important;
    left: 124px !important;
    top: 1px !important;
  }
  .bg-image span {
    font-size: 12px !important;
  }
  .bg-image .card {
    padding: 0 !important;
  }
  .icon-section i {
    font-size: 25px !important;
  }
  .icon-section .text .number {
    font-size: 15px !important;
  }
  .icon-section .text .text-name {
    font-size: 12px !important;
  }
  .icon-section .text {
    position: relative;
    bottom: 8px;
  }
  .footer .icons {
    margin-bottom: 30px;
  }
  .before-footer h2 {
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .before-footer a {
    padding: 7px 4px !important;
    font-size: 10px !important;
    i {
      font-size: 12px !important;
    }
  }
}
/* *********************************************** */
@media (max-width: 450px) {
  .header .navbar .navbar-brand,
  .footer .logo {
    width: 70px !important;
  }
  .visual-identity .card-right {
    margin-inline-start: 0 !important;
  }
  .navbar-toggler-icon i {
    font-size: 12px;
    position: relative;
    top: 5px;
  }
  .header .toggle-right i {
    font-size: 12px;
    position: relative;
    left: 10px;
  }
  .header .navbar .nav-link {
    font-size: 10px !important;
  }
  .header h1 {
    font-size: 20px !important;
    line-height: 45px !important;
  }
  .header p {
    font-size: 14px !important;
  }
  .header .get-start,
  .header .card-telephone a {
    width: fit-content;
    padding: 13px 24px !important;
  }
  .header .get-start {
    i {
      font-size: 14px;
    }
  }
  .header .video {
    width: 40px !important;
    height: 40px !important;
    i {
      font-size: 15px !important;
    }
  }
  .home .card-heading h2,
  .future .card-head h2,
  .marketing-design h2,
  .last-section .card-head h2,
  .visual-identity h3,
  .about .card-body h4 {
    font-size: 20px !important;
  }
  .marketing-design h2 {
    line-height: 30px !important;
  }
  .marketing-design p,
  .marketing-design h6,
  .marketing-design a,
  .about .card-body .first-p,
  .home .card-body p,
  .bg-image h5 {
    font-size: 14px !important;
  }
  .home .card-head i {
    font-size: 30px !important;
  }
  .home .card-body h5 {
    font-size: 18px !important;
  }
  .about .last-p,
  .home a,
  .header .get-start {
    font-size: 14px !important;
  }
  .home .card-head .number {
    width: 20px !important;
    height: 20px !important;
    font-size: 10px !important;
    top: -19px !important;
    right: -14px !important;
  }
  .visual-identity .iphone-img {
    left: 0 !important;
  }
  .footer p,
  .footer a,
  .footer li {
    font-size: 10px !important;
  }
  .footer .icons i {
    font-size: 12px !important;
  }
  .footer h6 {
    font-size: 13px !important;
  }
  .visual-identity .accordion .accordion-header .accordion-button {
    font-size: 15px !important;
  }
  .visual-identity .accordion .accordion-body {
    font-size: 12px !important;
  }
  .last-section .card-body p,
  .last-section .number {
    font-size: 10px !important;
  }
  .last-section .number{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* *************************************** */
@media (max-width: 380px) {
  .header h1 {
    font-size: 18px !important;
  }
  .header h1::after {
    bottom: -35px !important;
  }
  .header .navbar .navbar-brand {
    width: 80px !important;
  }
  .about .last-p {
    font-size: 10px !important;
  }
  .visual-identity .card-img {
    img {
      width: 290px !important;
    }
  }
  .visual-identity .iphone-img {
    img {
      width: 50px !important;
    }
  }
  .header .video {
    width: 50px !important;
    height: 50px !important;
  }
  .header .video {
    i {
      font-size: 18px !important;
    }
  }
  .home .card-body h5 {
    font-size: 15px !important;
  }
  .home .card-heading h2,
  .future .card-head h2,
  .marketing-design h2,
  .last-section .card-head h2,
  .visual-identity h3 {
    font-size: 15px !important;
    margin-bottom: 18px !important;
  }
  .marketing-design p,
  .marketing-design h6,
  .marketing-design a,
  .about .card-body .first-p,
  .home .card-body p,
  .bg-image h5 {
    font-size: 12px !important;
  }
  .home a,
  .future .card-head a,
  .header .get-start,
  .marketing-design a {
    padding: 12px 20px !important;
    font-size: 10px !important;
    i {
      font-size: 10px !important;
    }
  }
  .about .card-body h4 {
    font-size: 17px !important;
    margin-bottom: -20px;
  }
  .last-section .card-body .first-div{
    font-size: 14px !important;
  }
  .icon-section .text .number {
    font-size: 15px !important;
  }
  .icon-section i {
    font-size: 31px !important;
  }
  .icon-section .text {
    bottom: 17px !important;
  }
  footer .logo {
    width: 75px !important;
  }
  .navbar-toggler-icon i {
    font-size: 15px;
  }
}
