@media (max-width: 768px) {
  .logos .flex-row {
    flex-direction: column !important;
  }
  .logos h2 {
    font-size: 30px !important;
  }
}
/* ******************************************** */
@media (max-width: 500px) {
  .header .navbar .navbar-brand,
  .footer .logo {
    width: 70px !important;
  }
  .navbar-toggler-icon i{
    font-size: 12px;
    position: relative;
    top: 5px;
  }
  .header .toggle-right i{
    font-size: 12px;
    position: relative;
    left: 10px;
  }
  .header .navbar .nav-link{
    font-size: 10px !important;
  }
  .logos h2 {
    font-size: 20px !important;
  }
}
