@media (max-width: 768px) {
    .Branding .flex-row{
        flex-wrap: wrap;
    }
    .visual-identity h2,
    .Branding h2{
        font-size: 30px !important;
    }
}
/* ******************************************* */
@media (max-width: 500px) {
    .visual-identity h2,
    .Branding h2{
        font-size: 24px !important;
    }
    .Branding h2{
        line-height: 30px !important;
        margin-top: 10px;
    }
    .collaboration .bg-color {
        width: 300px !important;
        height: 400px !important;
        padding: 20px !important;
    }
    .collaboration h5,
    .Branding h5 {
        font-size: 18px !important;
    }
    .Branding .icon {
        i {
            font-size: 30px !important;
        }
    }
}
/* **************************************************** */
@media (max-width: 400px){
    .visual-identity h2,
    .Branding h2{
        font-size: 20px !important;
    }
    .visual-identity h2,
    .visual-identity h6{
        margin: 0 !important;
    }
    .visual-identity ul li {
        font-size: 13px !important;
    }
    p,
    .collaboration a{
        font-size: 12px !important;
    }
    .collaboration h5,
    .Branding h5 {
        font-size: 15px !important;
    }
    .Branding .icon {
        i {
            font-size: 20px !important;
        }
    }
}