@media (max-width: 1024px) {
    .marketing-strategy{
        padding: 100px 20px !important;
    }
}
/* ******************************************** */
@media (max-width: 500px) {
    .marketing-strategy .p-one {
        &::before {
            font-size: 30px !important;
            bottom: 14px !important;
            left: -20px !important;
        }
    }
    .marketing-strategy h4 {
        font-size: 20px !important;
    }
    .marketing-strategy p{
        font-size: 12px !important;
    }
    .marketing-strategy h5 {
        font-size: 15px !important;
    }
    .marketing-strategy .socials i{
        font-size: 12px !important;
    }
    .last-section .card-head h2{
        font-size: 20px !important;
    }
}
/* **************************************************** */
@media (max-width: 380px) {
    .marketing-strategy .p-one {
        &::before {
            bottom: 30px !important;
        }
    }
    .marketing-strategy .socials{
        gap: 13px !important;
    }
    .last-section .card-head h2{
        margin-bottom: 0 !important;
    }
}
/* ********************************************************** */
@media (max-width: 330px) {
    .marketing-strategy .p-one {
        &::before {
            bottom: 50px !important;
        }
    }
    .marketing-strategy h4 {
        font-size: 18px !important;
    }
    .header h1{
        font-size: 18px !important;
    }
}